<ion-popover-view>
    <ion-content>
        <div class="list">
            <label class="item item-input" ng-click="addFavorite({{dish.id}})">
                <div class="input-label">
                    Add to favorites
                </div>
            </label>
            <label class="item item-input" ng-click="openModal()">
                <div class="input-label">
                    Add a comment
                </div>
            </label>
        </div>
    </ion-content>
</ion-popover-view>